# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.streamlit/

# Distribution and packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
env/
venv/
ENV/
venv.bak/
.env
.venv

# Environment variables
.env
.env.*
.secret

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# Celery
celerybeat-schedule
*.pid

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pytest
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
*.pyc

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
coverage/
.tox/
nosetests.xml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/
.metadata/
*.iml
*.class

# Logs
*.log
*.out

# AWS
*.pem

# Ansible
.vault_pass

# Local dev files
*.local
*.bak

# Temporary files
*.tmp
*.tem*
